*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, .page {
    block-size: 100%;
}

body {
    margin: 0;
    color: #fff;
    background-color: #1b1919;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}


.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: 711px 399px;
    column-gap: 30px;
    align-items: end;
    inline-size: 1140px;
}

/* Левая колонка */
.result {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
}

.result__video-container {
    position: relative;
    inline-size: 711px;
    block-size: 386px;
    margin-block-end: 16px;
    background-color: #545050;
}

.result__video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #000;
    display: block;
    border: none;
}

.search-form {
    display: flex;
    gap: 40px;
    align-items: start;
    inline-size: 100%;
    max-inline-size: 711px;
}

.search-form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.search-form__fieldset:first-child {
    flex: 1 1 auto;
}

.search-form__fieldset:last-of-type {
    inline-size: 212px;
}

.search-form__fieldset-title {
    margin: 0 0 8px;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.search-form__label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.search-form__textfield {
    display: block;
    inline-size: 100%;
    min-inline-size: 225px;
    padding: 0 2px 4px;
    border: none;
    border-block-start: 1px solid #fff;
    border-block-end: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    appearance: none;
}

.search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
    outline: none;
    border-block-start: none;
    border-block-end: none;
}

.search-form__label:has(.search-form__textfield:focus) {
    appearance: none;
    -webkit-appearance: none;
    -webkit-focus-inner: none;
    border: none;
}

.search-form__textfield:focus-visible {
    outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.search-form__checkbox-list {
    display: flex;
    align-items: start;
    gap: 12px;
}

.search-form__pseudo-checkbox {
    inline-size: 19px;
    block-size: 19px;
    border: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.search-form__pseudo-checkbox::after {
    content: "";
    inline-size: 15px;
    block-size: 15px;
    background: #fff;
    transform: scale(0);
    transition: transform .15s ease-in-out;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    transform: scale(1);
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 3px;
}

.button {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    block-size: 34px;
    padding-inline: 12px;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background: #545050;
}

.button:focus { outline: none; }

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 3px;
}

.search-form__submit-button {
    margin-inline-start: auto;
    min-inline-size: 194px;
    flex-shrink: 1;
    max-inline-size: 194px;
    align-self: end;
}

.more-button {
    inline-size: 100%;
    min-inline-size: 246px;
}

.content__details {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 26px;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 94%;
}

.content__accent {
    color: #545050;
}

.content__list-container {
    position: relative;
    inline-size: 100%;
    block-size: 298px;
    overflow-y: auto;
}

.content__list-container::-webkit-scrollbar {
    inline-size: 4px;
    block-size: 4px;
}
.content__list-container::-webkit-scrollbar-track {
    background: transparent;
}
.content__list-container::-webkit-scrollbar-thumb {
    background: #545050;
}

.content__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-item {
    padding-inline: 3px;
}

.content__card-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
    text-decoration: underline;
}

.content__card-link:focus { outline: none; }

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}

.content__card-link_current .content__video-card {
    background: #545050;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 2px;
}

.content__video-card-description-container {
    flex-grow: 1;
    min-inline-size: 0;
}

.content__video-card-title {
    margin: 0 0 0;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__video-card-description {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content__video-card-thumbnail {
    inline-size: 194px;
    block-size: 103px;
    object-fit: cover;
    object-position: center;
    flex: 0 0 194px;
}

.content__card-link,
.more-button {
    cursor: pointer;
}

:focus-visible {
    scroll-margin: 8px;
}